.custom-modal {
  height: 100px;
  width: 1000px;
}

.custom-input {
  width: 100px;
}

.zoom-out:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.carousel .slide {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.carousel .slide.selected {
  opacity: 1;
}

.custom-slider .slide {
  height: 50vh !important;
}

.legend {
  font-weight: bolder;
  font-size: 18px !important;
  width: 90% !important;
  background-color: aliceblue !important;
  color: black !important;
}
